.Topbar {
    padding: 10px 0px;
    background: #031F42;
}

.Topbar a {
  color: #fff;
}


.Topbar .media i {
    color: #647589 ;
    transition: all 0.3s ease-in-out;
}


.Topbar .media i:hover {
    color: #fff;
}

.navbar-btn {
    margin-left: 40px;
    border-left: 1px solid #e1e1e1;
    padding-left: 20px;
    border-color: rgba(255, 255, 255, 0.2);
    font-size: 15px;
}

.phone  a , .email a {
    color: rgba(255, 255, 255, 0.8) !important;
}

.phone  a:hover , .email a:hover {
    color: #fff !important;
}